main{
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icons{
    padding: 30px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px 20px;
}
.icon{
    width: 20%;
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    img{
        width: 80%;
        transition: 0.3s;
        &:hover{
            transform: scale(1.1);
        }
    }
    h3{
        text-transform: capitalize;
        line-height: 24px;
        font-weight: 400;
        font-size: 16px;
        color: white;
    }
}
.topp{
    justify-content: space-between;
    background-color: #4848484d;
    align-items: center;
    padding: 15px 30px;
    border-radius: 15px;
    margin: 10px auto;
    display: flex;
    width: 90%;
    gap: 20px;
    img{
        width: 18%;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            transform: scale(1.1);
        }
    }
}